body{
    font-family: 'Sofia Pro';
}

ul{
    list-style-type: none;
}
.wrapper {
    max-width: 1200px;
    padding: 30px 15px;
    margin: 0 auto;
}

.middle-column .img{
    margin-top: -145px;
}

.middle-column .img img{
    max-width: 100%;
    width: 100%;
   /* z-index: -1; */
}

.logo a{
    font-family: 'Circular Std';
    display: flex;
}

a{
    text-decoration:none;
}

.site-name{
    font-size: 32px; 
}

.trademark{
    font-size: 12px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.icon i{
    margin-left: 15px;
}


/* меню */

.menu{
    margin-bottom: 140px;
}

.menu li{
    /* display: block; */
    font-family: 'Sofia Pro ExtraLight';
    font-size: 22px;
    /* margin-bottom: 60px; */
    margin: 0 0 60px 0;
}

.tag{
    font-size: 12px;
    font-family:'Sofia Pro Light';
    border-radius: 12px;
    padding: 2px 5px ;
}

.left-column{
    width: 20%;
}

.middle-column{
    width: 75%;
}

.right-column{
    width: 5%;
}

.menu{
    padding: 0;
}

.header{
    align-items: center;
    margin-bottom: 60px;
}

.extra-care{
    display: flex;
    font-family: 'Sofia Pro Ultralight';
    font-size: 24px;
    
}

h2{
    margin-top: 0px;
}

.learn-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-right: 55px;
}
.line{
    /* border: 1px solid #000000; */
    border-bottom: 1px solid #000;
    width: 35px;
    height: 1px;
}

.learn-more p{
    font-family: 15px;
    font-family: Sofia Pro;
}
/* правая часть сайта */
.right-column ul{
    padding: 0;
}

.scroll-down a{
    font-size: 12px;
}

/* центральная секция */

.product-description{
    margin-bottom:49px ;
    max-width: 60%;
    margin-top: 80px;
    z-index: 1;
    position: relative;
}

.product-description p{
    font-family: 'Sofia Pro Light';
    font-size: 21px;
    margin: 0;
}

h1{
    font-family: 'Sofia Pro Ultralight';
    font-size: 62px;
    font-weight: 300;
    margin: 0;
}
.button-maxer{
    margin-top: 49px;
}

.button i{
    margin-right: 5px;
}

/* кнопки */
.button{
    font-family: Montserrat;
    font-size: 15px;
    border-radius: 8px;
    padding: 25px 35px;    
}
.button.is-black{
    font-family: 'Montserrat-Medium';
    margin-right: 10px;
}


.right-column a{
    font-family: 'Circular Std';
    font-size: 14px;
    line-height: 18px;    
}

.right-column li{
    /* transform: rotate(-90deg); */
    /* writing-mode: vertical-rl; */
    margin-bottom: 10px;
    
}

.right-column {
   display: flex; 
   writing-mode: vertical-rl;
   justify-content: space-between;
   align-items: flex-start;
}

.right-column ul{
    display: flex;
    transform: rotate(-180deg);
    margin: 0px;
    
}

